[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://github.com/google/protobuf.git
[submodule "third_party/grpc"]
	path = third_party/grpc
	url = https://github.com/grpc/grpc.git
[submodule "third_party/cares"]
	path = third_party/cares
	url = https://github.com/c-ares/c-ares.git
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib
[submodule "third_party/tarantool"]
	path = third_party/tarantool
	url = https://github.com/tarantool/tarantool-c.git
[submodule "third_party/msgpack"]
	path = third_party/msgpack
	url = https://github.com/tarantool/msgpuck.git
